*{
    margin: 0;
    padding: 0;

}
body{
    height: 100%;
    width: 100%;
    background-color: #F0F3FF;
    font-family: "Titillium Web", sans-serif;
}

header{
    height: 64px;
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 1;

}
.nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding: 0px 0px 20px 0px;
}
.nav a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#check{
    display: none;
}
#menu-btn{
    display: none;
    font-size: x-large;
    cursor: pointer;
}
#check:checked ~ .nav{
    display: block;
    /* border: 3px solid red; */
}
.img1{
    width: 100px;
   margin-top: 20px;
    margin-left: 70px;

}
.li2{
    margin-top: -20px;
margin-right: -200px;
  padding-left: 30%;
}
.li3{
    margin-left:-70px;
      margin-top: -20px;
        
}
.li4{
    margin-right: -50px;
      margin-top: -20px;
}
.help{
    margin-top: 64px;
    background-color: black;
    color:white;
}
.help h1{
    text-align: center;
    padding: 50px 0 5px 0;
    font-size: 45px;
}
.need{
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    font-weight:600 ;
    margin-bottom: 50px;
}
.content{
  height: 348px;
  width: 1144px;
  background-color: white;
  color: black;
    margin-left: 60px;
  display: grid;
  grid-template-columns: 572px 572px;
  grid-template-rows: 174px 174px;
  grid-template-areas: 
  " content-1 content-2"
  "content-3 content-4";
}
.help span{
  color: blue;
}
.content-1{
  grid-area: content-1;
  color: black;
  border-right: 2px solid gray;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding:  20px 30px 0 40px;

}
.content-1 p{
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  color: gray;
  
}
.content-1 img{
  height: 90px;
  width: 92px;
  /* border: 2px solid red; */
}
.content-2{
  grid-area: content-2;
    display: flex;
  gap: 30px;
  justify-content: center;
  padding:  20px 30px 0 40px;
}
.content-2 p{
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  color: gray;
  
}
.content-2 img{
  height: 90px;
  width: 92px;
  /* border: 2px solid red; */
}
.content-3{
  grid-area: content-3;
   border-right: 2px solid gray;
    border-top: 2px solid gray;
     gap: 30px;
      display: flex;
  justify-content: center;
  padding:  20px 30px 0 40px;
}
.content-3 p{
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  color: gray;
  
}
.help a{
  color: blue;
}
.content-3 img{
  height: 90px;
  width: 92px;
  /* border: 2px solid red; */
}
.content-4{
  grid-area: content-4;
  border-top: 2px solid gray;
     gap: 30px;
      display: flex;
  justify-content: center;
  padding:  20px 30px 0 40px;
}
.content-4 p{
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  color: gray;
  
}
.content-4 img{
  height: 90px;
  width: 92px;
  /* border: 2px solid red; */
}
.office{
  background-color: black;
  color: white;
    margin-top: 70px;
    /* height: 1200px;
    width: 100px; */
}
.our{
    text-align: center;
    font-size: 30px;
    margin-top: -70px;
    padding-top: 50px;
}
.office hr{
    color:white;
    background-color: white;
    border-radius: 30px;
    height: 4px;
    width: 30px;
    margin-left: 600px;
    margin-top: 10px;
}
.head{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
}
.bang{
    height: 250px;
    width: 100%;
    margin-top: 70px;

}
.bang h2{
    margin-left: 520px;
    margin-bottom: 20px;
}
.bang p{
     margin-left: 520px;
     line-height: 22px;
}
.bang a{
    margin-left: 520px;
    text-decoration: none;
    color:gray;
    font-weight: 600;
    line-height: 60px;
}
.bang i{
    font-size: 9px;
    color: white;
    position: relative;
    bottom: 4px;
}
.reg{
    text-align: center;
    margin-top: -80px;
    padding-top: 40px;
}
.pera-con{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-left: 50px;
}
.pera-con a{
    text-decoration: none;
    color:gray;
    font-weight: 600;
    line-height: 60px;
}
.pera-con h2{
    font-size:22px ;
    margin: 0 0 20px 0;
}
.pera-con i{
    font-size: 9px;
    color: white;
    position: relative;
    bottom: 4px;
}
.pera-con1{
    height: 300px;
    width: 270px;
    /* border: 2px solid red; */
    padding: 20px;
}
.pera-con2{
    height: 300px;
    width: 270px;
    /* border: 2px solid red; */
    padding: 20px;
}
.pera-con3{
    height: 300px;
    width: 270px;
    /* border: 2px solid red; */
    padding: 20px;
}
.pera-con1 p{
    line-height: 23px;
}
.pera-con2 p{
    line-height: 23px;
}
.pera-con3 p{
    line-height: 23px;
}

 footer{
    height: 850px;
    width: 1264.5px;
    background-color:black;
    /* margin-left: -140px; */
    color: white;
 }
 .ftrcon1{
    padding: 40px 0 0 40px;
 }
 .ftrcon1 img{
    height: 40px;
    width: 140px;
    /* border-bottom: dotted white; */
 }
 .ftrcon1 hr{
   margin: 20px 0 20px 0;
   width:220px;
   color: rgb(78, 77, 77);
 }
 .ftrcon1 i{
    height: 20px;
    width: 30px;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    padding: 5px 2px 3px 2px;
 }
  .ftrcon1 h4{
    margin: 30px 0 20px 0;
  }
  .icn{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;

  }
  .ftr1{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
  }
  .ftrcon2{
    list-style: none;
    margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon3{
    list-style: none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon4{
    list-style: none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon5{
    list-style:none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .com1{
    font-size: 20px;
    font-weight: 550;

  }
  .ftr2{
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
  }
  .Bar{
    display: flex;
    gap: 20px;
    margin: 20px 0 0 40px;

  }
.now{
   font-weight: 550;
   margin-top: 5px;
  }
  .now span{
    font-size: 13px;
    color: gray;
    font-weight: 400;
    margin-top: 10px;
  }
  .Bar img{
    height: 43px;
    width: 43px;
  }
  .dubai{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
  }
  .dom{
    font-weight: 600;
    font-size: 20px;
    color: white;
  }
  
  .line-content{
    display: flex;
    gap:100px ;
    /* flex-wrap: wrap; */
  }
  .Hydera{
     list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
    margin-left: -40px;

  }
  .bang{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .mum{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .vado{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .barcode img{
     height: 150px;
     width: 150px;
     border: 10px solid white;
     margin: 30px 0 0 44px;
  }
  .hr4{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 95%;
    margin-left: 30px;
  }
  .last h4{
margin-left: 30px;
  }
  .last p{
    font-size: 12px;
    color: rgb(176, 174, 174);
    margin-left: 30px;
    margin-top: 10px;
    line-height: 20px;
  }





   @media screen and (max-width:450px) {
    body{
        background-color: #F0F3FF;
    }
    header{
        width: 100%;
        /* border: 2px solid red; */
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        position: relative;
        padding-left:20px ;
     left: 180px;
     width: 200px;
     top: -6px;
     line-height: 70px;
     height: 270px;
     border: 3px double blue;
     list-style: disc;
     background-color: white;
     font-size: 20px;
     

    }
    .img1{
        margin: 0;
       padding-top: 20px;
       padding-left: 20px;
    
    }
    #menu-btn{
        display: block;
        position: relative;
        left: 340px;
        top: -20px;
           
    }
    .img1{
        margin: 0;
    }
    .li2{
        margin: 0;
        padding: 0;
    }
    .li3{
        margin: 0;
    }
    .li4{
       margin: 0;
    }
  .content{
    height: auto;
    display: flex;
    margin-left: 150px;
    flex-direction: column;
    width: 100%;
  }  
  .pera-con2{
    display: none;
  }
  .pera-con{
    margin-top: 200px;
  }
  .our{
    /* margin-top: 70px; */
  }
  .bang h2{
    margin: 0;
    margin-left: 90px;
  }
  .bang p{
    margin: 0;
    margin-left: 90px;
  }
  .bang span{
    margin: 0;
    margin-left: -400px;
  }
  .office hr{
    margin: 0;
    margin: 20px 0 0 170px;
  }
  .pera-con2{
    margin-top: 400px;
    margin-left: -200px;
    padding-right:100px;

  }





  footer{
    height: auto;
    width: 105%;
    display: flex;
    flex-direction: column;
    margin-left: -19px;
}
.line-content{
margin-left: 30px;
}
.ftrcon2{
    margin-left: 30px;
}
.ftrcon4{
    margin-left: 30px;
}
.ftrcon5{
    margin-left: -60px;
}
.content{
    color: white;
    position: relative;
    left: -160px;
    top: -75px;
    

}
.con1{
    font-size: 20px;
    font-weight: 400;
    word-spacing: 5px;
}
.con2{
    font-size: 25px;
    font-weight: 700;
    word-spacing: -5px;
}
  }   
