*{
    margin: 0;
    padding: 0;

}
body{
    height: 100%;
    width: 100%;
    background-color: #F0F3FF;
    font-family: "Titillium Web", sans-serif;
}

header{
    height: 64px;
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 1;

}
.nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding: 0px 0px 20px 0px;
}
.nav a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#check{
    display: none;
}
#menu-btn{
    display: none;
    font-size: x-large;
    cursor: pointer;
}
#check:checked ~ .nav{
    display: block;
    /* border: 3px solid red; */
}
.img1{
    width: 100px;
   margin-top: 20px;
    margin-left: 70px;

}
.li2{
    margin-top: -20px;
margin-right: -200px;
  padding-left: 30%;
}
.li3{
    margin-left:-70px;
      margin-top: -20px;
        
}
.li4{
    margin-right: -50px;
      margin-top: -20px;
}
.first{
    height: 419px;
    width: 100%;
    margin-top: 64px;
    background-image: url("https://nest-platform-assets.porter.in/hero_image_pfe_desktop_fdae246029.jpg");
    border-radius: 0 0 50px 0 ;
    background-size: cover;
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
}
.first-con{
position: relative;
top: 100px;
left: 70px;
}
.btn1{
    height: 48px;
    width: 181;
    border-radius:10px ;
    padding: 14px 16px 16px 16px ;
    font-size: 14px;
    font-weight: 600;
    font-family: 
"Titillium Web", sans-serif;
background: #413D37;
background: linear-gradient(141deg,rgba(65, 61, 55, 1) 60%, rgba(33, 38, 73, 1) 100%);
color: white;
}
.reliable{
    color: #FCFCFD;
    font-size: 34px;
    margin: 15px 0 15px 0;
    line-height: 51px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}
.free{
    color: #FFC800;
    font-size: 17px;
    font-weight: 600;
    font-family: 
"Titillium Web", sans-serif;
line-height: 25px;
word-spacing: 6px;
}
.form{
    height: 380px;
    width: 350px;
    background-color: #FFFFFF;
    margin: 40px 0 0 130px;
    border-radius: 15px;
    text-align: center;
}
.form h3{
    margin-top: 20px;
    font-weight: 400;
}
.enter{
    height: 42px;
    width: 300px;
    border: 1px solid rgb(231, 224, 224);
    margin: 20px 0 20px 25px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    
}
.enter input{
height: 30px;
border: none;
width: 200px;
outline: none;
}
.enter i{
    margin-left: -30px;
    margin-top:14px ;
    margin-right: 8px;
    font-size: 14px;
    color: #413D37;
}
.enter:hover{
    border:2px solid #0A57FF;
}
.company{
    height: 42px;
    width: 300px;
    border: 1px solid rgb(231, 224, 224);
    margin: 20px 0 20px 25px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    
}
.company input{
height: 30px;
border: none;
width: 200px;
outline: none;
}
.company i{
    margin-left: -30px;
    margin-top:14px ;
    margin-right: 8px;
    font-size: 14px;
    color: #413D37;
}
.company:hover{
    border:2px solid #0A57FF;
}
.phone{
    height: 42px;
    width: 300px;
    border: 1px solid rgb(231, 224, 224);
    margin: 20px 0 20px 25px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    
}
.phone input{
height: 30px;
border: none;
width: 200px;
outline: none;
}
.phone i{
    margin-left: -30px;
    margin-top:14px ;
    margin-right: 8px;
    font-size: 14px;
    color: #413D37;
}
.phone:hover{
    border:2px solid #0A57FF;
}
.Email{
    height: 42px;
    width: 300px;
    border: 1px solid rgb(231, 224, 224);
    margin: 20px 0 20px 25px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.Email input{
height: 30px;
border: none;
width: 200px;
outline: none;
}
.Email i{
    margin-left: -30px;
    margin-top:14px ;
    margin-right: 8px;
    font-size: 14px;
    color: #413D37;
}
.Email:hover{
    border:2px solid #0A57FF;
}
.form-btn{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    background-color: #0A57FF;
    color: white;
    font-weight: 600;
    border: none;
}
.clients{
    height: 300px;
    width: 100%;
    background-color:#FFFFFF;
    text-align: center;
    overflow: hidden;
}
.clients h3{
    padding-top: 60px;
    font-size: 22px;
}
.card{
    display: flex;
    gap: 120px;
    margin-top: 40px;
    height: 120px;
    width: 2200px;
    margin-left: 50px;
    margin-right:50px;
    overflow: hidden;
    animation: slide 50s ease 5s infinite;
    justify-content: center;
}
.card img{
    height: 100px;
    width: 100px;
     /* animation: slide 10s ease  4s infinite ; */
}
@keyframes slide{
0%{
    transform: translateX(-1px);
}
15%{
    transform: translateX(-150px);
}
30%{
    transform: translateX(-300px);

}
45%{
   transform: translateX(-450px);  
}
60%{
    transform: translateX(-600px);
}
75%{
    transform: translateX(-750x);
}
90%{
    transform: translateX(-900px);
}
100%{
    transform: translateX(0);
}
}
.key{
    height: 1250px;
    width: 100%;
    background-color: #021133;
    color: #F0F3FF;
    /* text-align: center; */
}
.key h3{
    padding-top: 70px;
    font-size: 22px;
    text-align: center;
    
}
.section{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.section1{
    height: 502px;
    width: 678px;
    border-radius: 16px;
    background-color: #152241;
    margin-left: 50px;
    margin-top: 70px;
}
.section1 h2 {
    margin: 40px 0 0 30px;

}
.section1 p{
    margin: 15px 0 10px 30px;
}
.section1 img{
    height: 350px;
    width: 600px;
    margin: 20px 0 0 40px;

}
.section2{
       height: 502px;
    width: 440px;
    border-radius: 16px;
    background-color: #152241;
      margin-top: 70px;

}
.section2 h2{ 
     margin: 40px 0 0 30px; 
}
    
.section2 p{
    margin: 15px 0 10px 30px;
}
.section2 img{
    width: 380px;
    height: 350px;
    margin: 20px 0 0 25px;
}
.section0{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.section3{
       height: 490px;
    width: 440px;
    border-radius: 16px;
    background-color: #152241;
      margin-top: 30px;
      margin-left: 50px;

}
.section3 h2{ 
     margin: 40px 0 0 30px; 
}
    
.section3 p{
    margin: 15px 0 10px 30px;
}
.section3 img{
    width: 380px;
    height: 300px;
    margin: 20px 0 0 25px;
}
.section4{
    height: 490px;
    width: 678px;
    border-radius: 16px;
    background-color: #152241;
    margin-left: 5px;
    margin-top: 30px;
}
.section4 h2 {
    margin: 40px 0 0 30px;

}
.section4 p{
    margin: 15px 0 10px 30px;
}
.section4 img{
    height: 300px;
    width: 600px;
    margin: 20px 0 0 40px;

}
.growing{
    height: 322px;
    width: 100%;
    background-color: #010309;
}
.growing h2{
text-align: center;
padding-top: 70px;
color: #FCFCFD;
}
.cities{
    display: flex;
    color: #F0F3FF;
    text-align: center;
    gap: 230px;
    margin-left: 200px;
    margin-top: 90px;
}
.cities p{
    font-size: 48px;
    line-height: 35px;
}
.cities span{
    font-size: 16px;
    color: gray;
}
.multi{
    height: 700px;
    width: 100%;
    background-color: #FFFFFF;
}
.multi-con{
    text-align: center;
    padding-top: 60px;
}
.multi-con h2{
    font-weight: 550;
    color: #333333;
    font-size: 21px;
    margin-bottom: 30px;
}
.multi-con p{
    font-size: 14px;
    color: #333333;
    line-height: 20px;
}
.multi-card1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:31px ;
    margin-top: 40px;
}

.card1 img{
    height: 78px;
    width: 78px;
}
.card1 p{
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    color: #413D37;
}
.multi-card2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:31px ;
    margin-top: 20px;
}

.card2 img{
    height: 78px;
    width: 78px;
}
.card2 p{
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    color: #413D37;
}
.multi-card3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:31px ;
    margin-top: 20px;
}

.card3 img{
    height: 78px;
    width: 78px;
}
.card3 p{
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    color: #413D37;
}
.happy{
    height: 480px;
    width: 100%;
    background-color: black;
    color: #F0F3FF;
    
}
.happy h3{
    text-align: center;
    padding-top: 50px;
}
.happy-con{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    line-height: 30px;
    font-weight: 400;
    font-size: 17px;
    font-family: 
"Titillium Web", sans-serif;
}
.happy span{
    color:gray;
    font-size: 13px;
}
.industries{
    height: 500px;
    width: 100%;
    background-color: #FFFFFF;
}
.industries h2{
    text-align: center;
    margin: 124px 0 0 0;
    font-size: 22px;
}
.industries p{
    text-align: center;
    margin: 30px 0 0 0 ;
    font-size: 20px;
    color: rgb(71, 70, 70);
}
.indi-con{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    gap: 80px;
    margin-top: 60px;
}
.indi-img img{
    height: 330px;
    width: 382px;
}
.indi-pera{
    height: 264px;
    width: 375px;
    display: flex;
    transform: skewX(-10deg)
}
.indi-pera p{
    font-size: 16px;
    font-weight: 600;
    color: #F0F3FF;
    margin-top: 10px;
    line-height: 24px;
    
}

.indi-pera hr{
    margin-top: 10px;
}
.indi-pera1{
    height: 264px;
    width: 187.5px;
    background-color: #8E8FF8;
}
.indi-pera2{
    height: 264px;
    width: 187.5px;
    background-color: #6A79F9;
}




.query p{
    font-size: 22px;
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
}
.query-con{
    height: 350px;
    width: 920px;
    border: 2px solid gray;
    margin-left: 170px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px 4px rgb(225, 224, 224);
    display: flex;
}
.con-img img{
    height: 250px;
    width: 300px;
    margin: 30px 0 132px 30px;
}
.con-reach p{
    margin: 100px 0 0 50px;
    line-height: 20px;
    font-size: 15px;
    color: gray;
    text-align: left;
}
.con-reach button{
    height: 44px;
    width: 190px;
    background-color: #2F59FC;
    color: #F0F3FF;
    font-weight: 600;
    border: none;
    margin-left: 50px;
    margin-top: 20px;
}

.asked{
    height: 550px;
    width: 100%;
    background-color: white;
    /* position: absolute;
    top: 3451px;
    left: -1px; */
 }
 .asked1{
    text-align: center;
    font-size: 23px;
    font-weight: 550;
    padding-top: 80px;
    color: rgb(60, 59, 59);
 }
 
 .asked3{
      margin: 50px 0 0 20px;
    
 }
 .asked3 i{
    color: rgb(101, 100, 100);
 }
 
 .app{
    display: flex;
    justify-content: space-around;
 }
 
 .hr1{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 58%;
margin-left: 265px;
 }
 .app1{
     display: flex;
     gap: 515px;
     margin-left: 265px;
 }
 .wis1{
     font-size: 16px;
    color:rgb(129, 128, 128);
 }
 .app2{
     display: flex;
     gap: 205px;
     margin-left: 265px;
 }
 .wis2{
    font-size: 16px;
    color:rgb(129, 128, 128);
 }
  .app3{
     display: flex;
     gap: 300px;
     margin-left: 265px;
 }
 .wis3{
     font-size: 16px;
    color:rgb(129, 128, 128);
 }
   .app4{
     display: flex;
     gap: 90px;
     margin-left: 265px;
 }
 .wis4{
     font-size: 16px;
    color:rgb(129, 128, 128);
    /* font-weight: 600; */
 }
   .app5{
     display: flex;
     gap: 262px;
     margin-left: 265px;
 }
 .wis5{
     font-size: 16px;
    color:rgb(129, 128, 128);
 }
 .have{
    height: 100px;
    width: 1150px;
    background-color: #EAEDFE;
    margin-left: 25px;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 30px;
 }
 .have img{
    height: 50px;
    height: 50px;
    padding:  20px 0 0 20px;

 }
 .have-img{
    height:90px ;
    width: 90px;
    background-color: white;
    border-radius: 50%;
 }
 .have1 h2{
    color: #3A3A3A;
    font-size: 22px;
 }
 .have1  button{
    height: 45px;
    width: 130px;
    background-color: #3A3A3A;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;


 }
  footer{
    height: 850px;
    width: 1264.5px;
    background-color:black;
    /* margin-left: -140px; */
    color: white;
 }
 .ftrcon1{
    padding: 40px 0 0 40px;
 }
 .ftrcon1 img{
    height: 40px;
    width: 140px;
    /* border-bottom: dotted white; */
 }
 .ftrcon1 hr{
   margin: 20px 0 20px 0;
   width:220px;
   color: rgb(78, 77, 77);
 }
 .ftrcon1 i{
    height: 20px;
    width: 30px;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    padding: 5px 2px 3px 2px;
 }
  .ftrcon1 h4{
    margin: 30px 0 20px 0;
  }
  .icn{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;

  }
  .ftr1{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
  }
  .ftrcon2{
    list-style: none;
    margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon3{
    list-style: none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon4{
    list-style: none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon5{
    list-style:none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .com1{
    font-size: 20px;
    font-weight: 550;

  }
  .ftr2{
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
  }
  .Bar{
    display: flex;
    gap: 20px;
    margin: 20px 0 0 40px;

  }
.now{
   font-weight: 550;
   margin-top: 5px;
  }
  .now span{
    font-size: 13px;
    color: gray;
    font-weight: 400;
    margin-top: 10px;
  }
  .Bar img{
    height: 43px;
    width: 43px;
  }
  .dubai{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
  }
  .dom{
    font-weight: 600;
    font-size: 20px;
    color: white;
  }
  
  .line-content{
    display: flex;
    gap:100px ;
    flex-wrap: wrap;
  }
  .Hydera{
     list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
    margin-left: -40px;

  }
  .bang{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .mum{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .vado{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .barcode img{
     height: 150px;
     width: 150px;
     border: 10px solid white;
     margin: 30px 0 0 44px;
  }
  .hr4{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 95%;
    margin-left: 30px;
  }
  .last h4{
margin-left: 30px;
  }
  .last p{
    font-size: 12px;
    color: rgb(176, 174, 174);
    margin-left: 30px;
    margin-top: 10px;
    line-height: 20px;
  }
  .looking{
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    gap: 450px;
    align-items: center;
position: sticky;
top: 525px;
z-index: 10;
  }
  .looking button{
    height: 45px;
    width: 190px;
    color: white;
    font-weight: 600;
    background-color: #0A57FF;
    border: none;
    border-radius: 3px;
  }
  .look-con{
    margin-left: 60px;
  }
  .look-con p{
    font-size: 16px;
    color: rgb(69, 68, 68);
    line-height: 30px;
  }
  .look-con span{
    font-size: 15px;
    font-weight: 600;

  }



  @media screen and (max-width:450px) {
    body{
        background-color: #F0F3FF;
    }
    header{
        width: 97%;
        /* border: 2px solid red; */
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        position: relative;
        padding-left:30px ;
     left: 50%;
     width: 200px;
     top: -6px;
     line-height: 70px;
     height: 270px;
     border: 3px double blue;
     list-style: disc;
     background-color: white;
     font-size: 20px;

    }
    .img1{
        margin: 0;
       padding-top: 20px;
       padding-left: 20px;
    
    }
    #menu-btn{
        display: block;
        position: relative;
        left: 80%;
        top: -20px;
         
    }
     .img1{
        margin: 0;
    }
    .li2{
        margin: 0;
        padding: 0;
    }
    .li3{
        margin: 0;
    }
    .li4{
       margin: 0;
    }
    .first{
        height: auto;
        width: 100%;
        background-size: cover;
        margin: 0;
    }
    .first-con{
position: relative;
top: 80px;
left: -1px;

}
.reliable{
    font-size: 25px;
    width: 94%;
}
.form{
    margin: 0;
    margin-top: -60px;
    margin-left: 10px;
}
.section1{
    width: 100%;
    margin: 0;

}
.section1 img{
    width: 90%;
    margin:10px -10px 10px 10px ;
}
.section2{
    width: 100%;
    margin: 0;

}
.section2 img{
    width: 90%;
     margin:10px -10px 10px 10px ;
}
.section3{
    width: 100%;
    margin: 0;

}
.section3 img{
    width: 90%;
     margin:10px -10px 10px 10px ;
}
.section4{
    width: 100%;
    margin: 0;

}
.section4 img{
    width: 90%;
     margin:10px -10px 10px 10px ;
}
.looking{
    display: none;
}
.growing{
    display: none;
}
.multi{
    margin-top: 900px;
    width: 100%;
    height: auto;
}
.happy{
height: auto;
}
.industries{
    margin-top: -50px;
}
.indi-img{
    margin-left: -180px;
}
.indi-pera{
    margin-left: -170px;
   width:350px ;
}
.query{
    margin-top: 400px;

}
.query-con{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 94%;
    margin-left: 6px;
    padding-bottom: -80px;
}
.asked{
    height: auto;
    width: 100%;
}
.app1{
    width: 100%;
    margin: 0;
    display: flex;
    gap: 200px;
    flex-direction: row;
}
.app2{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.app3{
    width: 100%;
    margin: 0;
    display: flex;
    gap: 70px;
    flex-direction: row;
}
.app4{
    width: 100%;
    margin: 0;
    display: flex;
    gap: 70px;
    flex-direction: row;
}
.app5{
    width: 100%;
    margin: 0;
    display: flex;
    gap: 70px;
    flex-direction: row;
}
.hr1{
    margin-left: -4px;
    width: 100%;
}
.have{
    width: 80%;
    margin-left: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

footer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.line-content{
margin-left: 30px;
}
.ftrcon2{
    margin-left: 30px;
}
.ftrcon4{
    margin-left: 30px;
}
.ftrcon5{
    margin-left: -60px;
}
.content{
    color: white;
    position: relative;
    left: -160px;
    top: -75px;
    

}
.con1{
    font-size: 20px;
    font-weight: 400;
    word-spacing: 5px;
}
.con2{
    font-size: 25px;
    font-weight: 700;
    word-spacing: -5px;
}
    
}