*{
    margin: 0;
    padding: 0;

}
body{
    height: 100%;
    width: 100%;
    background-color: #F0F3FF;
    font-family: "Titillium Web", sans-serif;
}
header{
    height: 64px;
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 1;

}
.nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
}
.nav a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img1{
    width: 100px;
    margin-left: -50px;
}
.li2{
margin-right: -150px;
}
.li3{
    margin-left:-150px ;
}
.li4{
    margin-right: -50px;
}
.bimg{
    height:386px;
    width: 100%;
    background-image: url("https://nest-platform-assets.porter.in/IND_desktop_banner_d08506ac6f/IND_desktop_banner_d08506ac6f.webp");
    background-size: cover;
    background-color:rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 30px;
    /* opacity: 0.6; */
    background-blend-mode:darken;
    /* filter: brightness(50%); */
}
.content{
    color: white;
    padding: 150px 0 0 190px;
    

}
.con1{
    font-size: 50px;
    font-weight: 400;
    word-spacing: -5px;
}
.con2{
    font-size: 60px;
    font-weight: 700;
    word-spacing: -5px;
}
.location{
    height: 308px;
    width: 1000px;
    background-color: #FFFFFF;
    position: absolute;
    top: 315px;
    left: 140px;
    border-radius: 7px;

    
}
.loc1{
    display: flex;
    text-align: center;
    margin: 26px 0 0 60px;
    gap: 5px;
}
.loc1 p{
    font-size: 20px;
}
.loc1 select{
    border: none;
    font-size: 18px;
    font-weight:500;
}
.card{
    display: flex;
    gap: 60px;
    align-items: center;
    margin: 0 150px 0 150px;

}
.card1{
    height: 100px;
    width: 100px;
    border-radius: 7px;
    background-color:#E2E3FD;
    transition: transform 1s ease;
}
.card1:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.card1 img{
    height: 100px;
    width: 100px;
    text-align: center;
}
.card2{
     height: 100px;
    width: 100px;
    background-color: #E2E3FD;
     border-radius: 7px;
     transition: transform 1s ease;
}
.card2:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.card2 img{
    height: 100px;
    width: 100px;
    text-align: center;
}
.card3{
     height: 100px;
    width: 100px;
    background-color: #E2E3FD;
      border-radius: 7px;
        transition: transform 1s ease;
}
.card3:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.card3 img{
    height: 100px;
    width: 100px;
    text-align: center;
}
.card4{
     height: 100px;
    width: 100px;
    background-color: #E2E3FD;
      border-radius: 7px;
      transition: transform 1s ease;
}
.card4:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.card4 img{
    height: 100px;
    width: 100px;
    text-align: center;
}
.card5{
    height: 150px;
    width: 115px;
    color: white;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #0041F5;
    transition:transform 1s ease;
}
.card5:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.card5-con{
    margin: 20px 10px 10px 15px ;
    line-height: 23px;
}
.card5-con h3{
    font-size: 22px;
}
.card5-con p{
    color: rgb(165, 163, 163);
}
.card5-con i{
    font-size: 20px;
   transition: transform  2s ease;
}
.card5-con i:hover{
    cursor: pointer;
    transform: translateX(20px);
}

.card-bot{
    display: flex;
    margin: -20px 0 0 180px;
    gap: 90px;
    font-size: 17px;  
    font-size: 15px;  
}
.two{
    margin-left: 12px;
}
.our{
    height: 50px;
    width: 100%;
    margin: 90px 0  10px 0 ;
    text-align: center;
    color: rgb(114, 113, 113);
}
.Api-card{
    display: flex;
    gap: 70px;
    height: 294px;
    width: 1000px;
    /* border: 5px solid black; */
    margin: 0 50px 0 50px;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
    right: 55px;

  
}
.slide{
    height:250px;
    width: 1700px;
    /* border: 1px solid red; */
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.api1{
    height: 240px;
    width: 300px;
    background: #3F5EFB;
background: linear-gradient(119deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-radius: 20px;
}
.api-btn{
    background-color:#f0f3ff34;
    color: white;
    border: none;
    height: 25px;
    width: 120px;
    font-size: 13px;
    margin: 30px 0 20px 1px;
    padding: 0 2px 0 3px;
    border-radius: 0 25px 25px 0 ;
    /* opacity: 0.3; */
}
.api1p{
    color: #FFFFFF;
    font-size: 23px;
    margin: -5px 5px 20px 10px ;
    line-height: 30px;
    word-spacing: -2x;
    font-weight: 600;
}
.btni{
    height: 34px;
    width: 65px;
    border: none;
    margin: 0 0 25px 20px ;
    font-size: 20px;
    border-radius: 30px;
     background-color:#f0f3ff34;
     color: white;
}
.api2{
    height: 240px;
    width: 300px;
    background: #0D308F;
background: linear-gradient(162deg,rgba(13, 48, 143, 1) 0%, rgba(10, 86, 117, 1) 39%, rgba(1, 165, 62, 1) 100%);
     border-radius: 20px;
}
.api2 p{
    color: #FFFFFF;
    font-size: 20px;
    margin: -5px 5px 20px 10px ;
    line-height: 27px;
    word-spacing: -2x;
    font-weight: 600;
}
.api3{
    height: 240px;
    width: 300px;
    background: #B8063C;
background: linear-gradient(162deg,rgba(184, 6, 60, 1) 0%, rgba(97, 7, 113, 1) 55%, rgba(14, 7, 162, 1) 100%);

     border-radius: 20px;
}
.api3 p{
    color: #FFFFFF;
    font-size: 20px;
    margin: -5px 5px 20px 10px ;
    line-height: 27px;
    word-spacing: -2x;
    font-weight: 600;
}

.api4{
    height: 240px;
    width: 300px;
    background: #102FC4;
background: linear-gradient(162deg,rgba(16, 47, 196, 1) 7%, rgba(1, 166, 171, 1) 70%, rgba(4, 143, 176, 1) 91%);
     border-radius: 20px;
}
.api5{
    height: 240px;
    width: 300px;
background: #8F4DDB;
background: linear-gradient(149deg,rgba(143, 77, 219, 1) 0%, rgba(150, 57, 181, 1) 66%, rgba(165, 15, 100, 1) 100%);
     border-radius: 20px;
}
.api6{
    height: 240px;
    width: 300px;
     background: #B8063C;
background: linear-gradient(162deg,rgba(184, 6, 60, 1) 0%, rgba(97, 7, 113, 1) 55%, rgba(14, 7, 162, 1) 100%);
     border-radius: 20px;
}

 .black-con{
    height: 870px;
    width: 1264px;
    background: #5e5209;
background: linear-gradient(141deg,rgba(94, 82, 9, 1) 0%, rgba(3, 7, 19, 1) 24%, rgba(3, 13, 42, 1) 72%, rgba(2, 26, 91, 1) 100%);
   color: white;
   font-size: 37px;
   font-weight: 550;
   text-align: center;
   padding-top: 60px;
    margin-left: -139.5px;
    margin-top: 70px;
 }
 .black-con2{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 120px;
    margin-top: 50px;
 }
 .black-con2 .d1{
    color: gray;
    font-size: 25px;
 }
 .news span{
    font-size: 16px;
    color: rgb(163, 161, 161);
 }
 .news{
    margin-top: 50px;
 }
 .demand{
    margin-top: 40px;
    line-height: 56px;
 }
 .imgbw{
    margin-top: 40px;
    width: 450px;
    height: 50px;
 }
 .read1{
    font-size: 17px;
    margin-top: 20px;
    /* border-bottom: dotted white ; */
 }
 .read1 a{
    color: white;
    text-decoration: none;
    border-bottom: dotted white;
    padding-bottom: 5px; 
 }
 .white{
    height: 15px;
    width: 30px;
    background-color: white;
    border-radius: 30px;
    margin: 80px 0 0 610px;
 }
 .asked{
    height: 1280px;
    width: 1260px;
    margin-left: -138px;
    background-color: white;
 }
 .asked1{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding-top: 80px;
 }
 .asked2{
     text-align: center;
    font-size: 19px;
    font-weight: 500;
    color: gray;
    margin-top: 22px;

 }
 .asked3{
      margin: 90px 0 0 20px;
 }
 .asked3 i{
    color: rgb(101, 100, 100);
 }
 
 .app{
    display: flex;
    justify-content: space-around;
 }
 .wis{
    font-size: 20px;
    color: gray;
 }
 .hr1{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 58%;
margin-left: 265px;
 }
 .app1{
     display: flex;
     gap: 470px;
     margin-left: 265px;
 }
 .wis1{
     font-size: 20px;
    color:gray;
 }
 .app2{
     display: flex;
     gap: 55px;
     margin-left: 265px;
 }
 .wis2{
     font-size: 20px;
    color:gray;
 }
  .app3{
     display: flex;
     gap: 360px;
     margin-left: 265px;
 }
 .wis3{
     font-size: 20px;
    color:gray;
 }
   .app4{
     display: flex;
     gap: 260px;
     margin-left: 265px;
 }
 .wis4{
     font-size: 20px;
    color:gray;
 }
   .app5{
     display: flex;
     gap: 30px;
     margin-left: 265px;
 }
 .wis5{
     font-size: 20px;
    color:gray;
 }
    .app6{
     display: flex;
     gap: 240px;
     margin-left: 265px;
 }
 .wis6{
     font-size: 20px;
    color:gray;
 }
    .app7{
     display: flex;
     gap: 308px;
     margin-left: 265px;
 }
 .wis7{
     font-size: 20px;
    color:gray;
 }
    .app8{
     display: flex;
     gap: 235px;
     margin-left: 265px;
 }
 .wis8{
     font-size: 20px;
    color:gray;
 }
    .app9{
     display: flex;
     gap: 112px;
     margin-left: 265px;
 }
 .wis9{
     font-size: 20px;
    color:gray;
 }
    .app10{
     display: flex;
     gap: 280px;
     margin-left: 265px;
 }
 .wis10{
     font-size: 20px;
    color:gray;
 }
    .app11{
     display: flex;
     gap: 206px;
     margin-left: 265px;
 }
 .wis11{
     font-size: 20px;
    color:gray;
 }
    .app12{
     display: flex;
     gap: 240px;
     margin-left: 265px;
 }
 .wis12{
     font-size: 20px;
    color:gray;
 }
 footer{
    height: 850px;
    width: 1264.5px;
    background-color:black;
    margin-left: -140px;
    color: white;
 }
 .ftrcon1{
    padding: 40px 0 0 40px;
 }
 .ftrcon1 img{
    height: 40px;
    width: 140px;
    /* border-bottom: dotted white; */
 }
 .ftrcon1 hr{
   margin: 20px 0 20px 0;
   width:220px;
   color: rgb(78, 77, 77);
 }
 .ftrcon1 i{
    height: 20px;
    width: 30px;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    padding: 5px 2px 3px 2px;
 }
  .ftrcon1 h4{
    margin: 30px 0 20px 0;
  }
  .icn{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;

  }
  .ftr1{
    display: flex;
    gap: 100px;
  }
  .ftrcon2{
    list-style: none;
    margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon3{
    list-style: none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon4{
    list-style: none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon5{
    list-style:none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .com1{
    font-size: 20px;
    font-weight: 550;

  }
  .ftr2{
    display: flex;
    gap: 120px;
  }
  .Bar{
    display: flex;
    gap: 20px;
    margin: 20px 0 0 40px;
  }
.now{
   font-weight: 550;
   margin-top: 5px;
  }
  .now span{
    font-size: 13px;
    color: gray;
    font-weight: 400;
    margin-top: 10px;
  }
  .Bar img{
    height: 43px;
    width: 43px;
  }
  .dubai{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
  }
  .dom{
    font-weight: 600;
    font-size: 20px;
    color: white;
  }
  
  .line-content{
    display: flex;
    gap:100px ;
  }
  .Hydera{
     list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
    margin-left: -40px;

  }
  .bang{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .mum{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .vado{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .barcode img{
     height: 150px;
     width: 150px;
     border: 10px solid white;
     margin: 30px 0 0 44px;
  }
  .hr4{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 95%;
    margin-left: 30px;
  }
  .last h4{
margin-left: 30px;
  }
  .last p{
    font-size: 12px;
    color: rgb(176, 174, 174);
    margin-left: 30px;
    margin-top: 10px;
    line-height: 20px;
  }