*{
    margin: 0;
    padding: 0;

}
body{
    height: 100%;
    width: 100%;
    background-color: #F0F3FF;
    font-family: "Titillium Web", sans-serif;
}
header{
    height: 64px;
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 1;

}
.nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
}
.nav a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 14.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img1{
    width: 100px;
    margin-left: -50px;
}
.li2{
margin-right: -150px;
}
.li3{
    margin-left:-150px ;
}
.li4{
    margin-right: -50px;
}
.back-img1{
    height: 600px;
    width: 100%;
    background-image: url("https://nest-platform-assets.porter.in/Partner_UAE_webp_17c7073731.webp");
    background-size: cover;
    margin-top: 64px;
}
.back-con{
    position: absolute;
    bottom: -25px;
    left: 50px;

}
.back-con h1{
    color: #5E0BE0;
    font-size: 48px;
    line-height: 65px;
    word-spacing: -5px;
}
.back-con p{
    font-size: 22px;
    line-height: 28px;
}

.back-form{
    height: 390px;
    width: 300px;
    background-color: #FFFFFF;
    position: absolute;
    right: 30px;
    top: 83px;
    text-align: center;
    padding-top: 20px;
}
.back-form input{
    height: 40px;
    width:270px;
    margin-top: 30px;
   padding-left: 10px;
}
.s1{
    height: 43px;
    width: 138px;
    margin-top: 25px;
    font-size: 11px;
    padding: 0 10px 0 10px ;
    color: rgb(48, 47, 47);

    
}
.s2{
     height: 43px;
    width: 280px;
    margin-top: 25px;
    font-size: 13px;
    padding: 0 10px 0 10px ;
    color: rgb(48, 47, 47);
    font-size: 13px;
}
.back-form button{
    height: 50px;
    width: 280px;
    margin-top: 30px;
    background-color: #2962FF;
    color: #F0F3FF;
    border: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
}
.start img{
    height: 50px;
    width: 180px;
    margin-top: 15px;
    cursor: pointer;
}
.start{
    margin-top: 25px;
    line-height: 30px;
}
.start h2{
    font-size: 22px;
}
.start p{
    color: rgb(72, 71, 71);
}
.advance{
    height: 500px;
    width: 100%;
    background-color: #F0F3FF;
    position: absolute;
    top: 664px;
}
.advance {
    text-align: center;
    padding-top: 7cqi;
}
.advance h2{
    font-size: 22px;
}
.card{
    display: flex;
    /* gap: 50px; */
    justify-content: space-evenly;
    margin-top: 80px;
    
}
.card p{
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
    color: rgb(107, 106, 106);
}
.card h4{
    margin-top: 20px;
}
.card img{
    height: 180px;
    width: 180px;
}
.making{
    height: 623px;
    width: 100%;
    background-color: #010205;
    position: absolute;
    top:1164px ;
    color: #FFFFFF;
}
.making h2{
    text-align: center;
    padding-top: 60px;
    font-size: 24px;
}
.mack-con{
    display: flex;
    margin: 80px 0 0 72px;
    gap: 50px;
}
.mack-img img{
    width: 559px;
    height: 393px;
    border-radius: 8px;
}
.mack-pera{
    margin-top: 50px;
    line-height: 26px;
    font-weight: 550;
    font-size: 15px;
}
.additional{
    height: 473px;
    width: 100%;
    background-color: #F0F3FF;
    position: absolute;
    top: 1787px;
}
.additional h2{
    text-align: center;
    margin-top: 50px;
}
.addi-card{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 70px;
    margin-left: 60px;
    margin-right: 60px;
}
.addi-card img{
    height: 170px;
    width: 170px;
}
.addi-card h4{
    font-size: 16px;
    font-weight: 550;
    margin-top: 10px;
    line-height: 24px;

}
.addi-card p{
    font-size: 14px;
    color: rgb(108, 106, 106);
    line-height: 21px;
}
.changing{
    height: 622px;
    width: 100%;
    background-color: #010205;
    position: absolute;
    top: 2270px;
    color: white;
}
.changing h2{
    text-align: center;
    font-size: 23px;
    margin-top: 60px;

}
.user1{
    height: 470px;
    width: 300px;
    /* border: 2px solid red; */
}
.user :hover{
    background-color: #141820;
    border-radius: 20px;
     padding-left: 10px;
   
}
.user{
    display: flex;
    gap: 50px;
    margin: 0 150px 0 150px;
    
}
.user-img{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    
    
}

.user-img p{
    color: white;
    font-weight: 600;
    line-height: 22px;
}
.user-img span{
    color: rgb(109, 107, 107);
    font-weight: 400;

}
.user-img img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
.stand{
    font-size: 19px;
    line-height: 30px;
    margin-top: 15px;
}
.own{
    position: absolute;
    top: 2892px;
    height: 559px;
    width: 100%;
    background-color: #F0F3FF;
}
.own h2{
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 24px;
}
.own-con{
    display: flex;
    gap: 60px;
}
.own-img img{
    height: 339px;
    width: 500px;
    margin: 60px 0 0 132px;

}
.own-pera{
    margin: 60px 50px 0 0 ;
}
.own-pera p{
    font-size: 13px;
    line-height: 22px;
    color: rgb(108, 106, 106);
    margin-top: 8px;
}
.own-pera button{
    margin: 30px 0 0 0  ;
    height: 49px;
    width: 160px;
    color: #F0F3FF;
    background: #2F58FB;
background: linear-gradient(116deg,rgba(47, 88, 251, 1) 15%, rgba(92, 14, 225, 1) 97%);
border: none;
border-radius: 3px;
font-weight: 600;
cursor: pointer;

}
.MULTIPLE{
    height: 559px;
    width: 100%;
    background-color:#F0F3FF;
    position: absolute;
    top: 2892px;
}
.MULTIPLE h2{
    text-align: center;
    font-size: 22px;
    margin-top: 60px;
}




.multi-img img{
    height: 350px;
    width: 500px;
}
.multi{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.multi-con{
    width: 500px;
    height: 350px;
    /* border: 2px solid green; */
    margin-top: 5px;
}
.multi-con span{
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
}
.multi-con p{
    width: 450px;
    font-size: 14px;
    color: rgb(144, 140, 140);
    line-height: 20px;
}


.multi-con button{
    height: 49px;
    width: 160px;
    color: white;
    font-weight: 600;
    font-size: 13.5px;
    border: none;
    background: #2E58FB;
background: linear-gradient(97deg,rgba(46, 88, 251, 1) 9%, rgba(74, 25, 189, 1) 72%);
margin-top: 25px;
border-radius: 3px;
}
.asked{
    height: 1280px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 3451px;
    left: -1px;
 }
 .asked1{
    text-align: center;
    font-size: 24px;
    font-weight: 550;
    padding-top: 80px;
    color: rgb(60, 59, 59);
 }
 
 .asked3{
      margin: 90px 0 0 20px;
    
 }
 .asked3 i{
    color: rgb(101, 100, 100);
 }
 
 .app{
    display: flex;
    justify-content: space-around;
 }
 
 .hr1{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 58%;
margin-left: 265px;
 }
 .app1{
     display: flex;
     gap: 350px;
     margin-left: 265px;
 }
 .wis1{
     font-size: 20px;
    color:gray;
 }
 .app2{
     display: flex;
     gap: 330px;
     margin-left: 265px;
 }
 .wis2{
     font-size: 20px;
    color:gray;
 }
  .app3{
     display: flex;
     gap: 284px;
     margin-left: 265px;
 }
 .wis3{
     font-size: 20px;
    color:gray;
 }
   .app4{
     display: flex;
     gap: 59px;
     margin-left: 265px;
 }
 .wis4{
     font-size: 20px;
    color:gray;
 }
   .app5{
     display: flex;
     gap: 388px;
     margin-left: 265px;
 }
 .wis5{
     font-size: 20px;
    color:gray;
 }
    .app6{
     display: flex;
     gap: 387px;
     margin-left: 265px;
 }
 .wis6{
     font-size: 20px;
    color:gray;
 }
    .app7{
     display: flex;
     gap: 344px;
     margin-left: 265px;
 }
 .wis7{
     font-size: 20px;
    color:gray;
 }
    .app8{
     display: flex;
     gap: 234px;
     margin-left: 265px;
 }
 .wis8{
     font-size: 20px;
    color:gray;
 }
    .app9{
     display: flex;
     gap: 250px;
     margin-left: 265px;
 }
 .wis9{
     font-size: 20px;
    color:gray;
 }


  footer{
    height: 850px;
    width: 1265px;
    background-color:black;
    margin-left: -140px;
    position: relative;
    left: 120px;

    color: white;
 }
 .ftrcon1{
    padding: 40px 0 0 40px;
 }
 .ftrcon1 img{
    height: 40px;
    width: 140px;
    /* border-bottom: dotted white; */
 }
 .ftrcon1 hr{
   margin: 20px 0 20px 0;
   width:220px;
   color: rgb(78, 77, 77);
 }
 .ftrcon1 i{
    height: 20px;
    width: 30px;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    padding: 5px 2px 3px 2px;
 }
  .ftrcon1 h4{
    margin: 30px 0 20px 0;
  }
  .icn{
    display: flex;
    gap: 10px;
    padding-bottom: 20px;

  }
  .ftr1{
    display: flex;
    gap: 100px;
  }
  .ftrcon2{
    list-style: none;
    margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon3{
    list-style: none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon4{
    list-style: none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .ftrcon5{
    list-style:none;
     margin-top: 50px;
    line-height: 30px;
    font-size: 13px;
  }
  .com1{
    font-size: 20px;
    font-weight: 550;

  }
  .ftr2{
    display: flex;
    gap: 120px;
  }
  .Bar{
    display: flex;
    gap: 20px;
    margin: 20px 0 0 40px;
  }
.now{
   font-weight: 550;
   margin-top: 5px;
  }
  .now span{
    font-size: 13px;
    color: gray;
    font-weight: 400;
    margin-top: 10px;
  }
  .Bar img{
    height: 43px;
    width: 43px;
  }
  .dubai{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
  }
  .dom{
    font-weight: 600;
    font-size: 20px;
    color: white;
  }
  
  .line-content{
    display: flex;
    gap:100px ;
  }
  .Hydera{
     list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
    margin-left: -40px;

  }
  .bang{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .mum{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .vado{
    list-style: none;
    line-height: 40px;
    /* color: grey; */
    font-size: 13px;
    margin-top: 40px;
  }
  .barcode img{
     height: 150px;
     width: 150px;
     border: 10px solid white;
     margin: 30px 0 0 44px;
  }
  .hr4{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 95%;
    margin-left: 30px;
  }
  .last h4{
margin-left: 30px;
  }
  .last p{
    font-size: 12px;
    color: rgb(176, 174, 174);
    margin-left: 30px;
    margin-top: 10px;
    line-height: 20px;
  }
  
 